
<table>
<%= render template: "layouts/voting", locals: { votable: prediction, destination: prediction_vote_path(prediction) } %>

</table>
<%= link_to prediction.title, prediction_path(prediction) %>

<%= prediction.body %>

