<p style="color: green"><%= notice %></p>

<h1>Predictions</h1>

<div id="predictions">
  <% @predictions.each do |prediction| %>
    <p>
      <%= link_to prediction.title, prediction %>
    </p>
  <% end %>
</div>

