<h1>
  <%= link_to @predictor.title, @predictor.wikiurl %>
</h1>

<p>
  <%= if @predictor.image then image_tag(@predictor.image, height:150) end %>
</p>

<p>
  <%= if @predictor.summary then @predictor.summary[0,500] + "..." end %>
</p>

