<h1>Predictors#new</h1>

<p>
Enter the URL for the individual's Wikipedia page below:
</p>

<br>

<%= form_with url: "/predictors/confirm", method: :get do |form| %>
<%= form.label :query, "Wikipedia URL: " %>
<%= form.text_field :query %>
<%= form.submit "Search" %>
<% end %>

<br>
