
<%= render 'show', item: @predictor %>

<div class="block">
  <%= link_to 'New Prediction', new_predictor_prediction_path(@predictor) %>
</div>
<% @predictions.each do |prediction| %>
<%= render prediction %>
<% end %>

