
 <%= render 'show', item: @predictor %>

 <%= link_to 'New Prediction', new_prediction_path(predictor_id: @predictor.id) %>


<div id="predictions">
  <% @predictions.each do |prediction| %>
    <p>
      <%= link_to prediction.title, prediction %>
      <hr>
    </p>
  <% end %>
</div>

