<div class="content">
  <p><em>The whole problem with the world is that fools and fanatics are always so certain of themselves, and wiser people so full of doubts.</em></p>
  <ul>
    <li><strong>Bertrand Russell</strong></li>
  </ul>
  <p>Self-proclaimed experts of all types are incentivised to make bold predictions about future events.</p>
  <p>In the moment these predictions give them an air of expertise and insight, and there is no immediate way to falsify their claim.</p>
  <p>If in time their prediction comes true, they can (and will) loudly and proudly broadcast this as evidence of their skill. If it does not come true, they can (and will) quietly pretend it never happened (and be reasonably confident no one else will bring it up).</p>
  <p>The purpose of this website is to act as a central place to track such predictions, so when they come due they can be recorded as successful or unsuccessful. This can then act as a public record for how much credence we should give their future predictions.</p>
  <p>The fundamental concept is similar to that of a <a href="https://en.wikipedia.org/wiki/Prediction_market" target="_blank">prediction market</a>, the key difference being that users can log predictions on behalf of other people.</p>
</div>
