<div class="content is-medium">
  <p><strong>Track predictions, keep experts accountable.</strong></p>
  <p>A common tactic of pundits, experts and gurus is to make bold predictions about future events. If they come true, they'll claim prescience, if not they'll never forget all about it.</p>
  <p>The purpose of this website is to log and monitor these predictions, so over time the predictors can be held accountable.</p>
  <p><em>This website is currently in beta. Feedback and bug reports are welcome, by the link in the navbar.</em></p>
</div>
