<div id="<%= dom_id outcome %>">
  <h3>
    Outcome
  </h3>
  <p>
    <strong>Result:</strong>
    <%= outcome.result %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= outcome.body %>
  </p>

  <p>
    <strong>Prediction:</strong>
    <%= outcome.prediction_id %>
  </p>

</div>
