<p style="color: green"><%= notice %></p>

<h1>Outcomes</h1>

<div id="outcomes">
  <% @outcomes.each do |outcome| %>
    <%= render outcome %>
    <p>
      <%= link_to "Show this outcome", outcome %>
    </p>
  <% end %>
</div>

<%= link_to "New outcome", new_outcome_path %>
