<div id="<%= dom_id report %>">
  <p>
    <strong>Reason:</strong>
    <%= report.reason %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= report.status %>
  </p>

</div>
