
Votable body: <%= votable.body %>
<table border="1">
  <tr>
    <td style="background-color: palegreen;">
      &#x25B3;
    </td>
    <td rowspan="2">
      <%= votable.weighted_score %>
    </td>
  </tr>
  <tr>
    <td style="background-color: lightgrey;">
      &#x25BD;
    </td>
  </tr>
</table>



